# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- Java

1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot
4. Matplotlib

| Data Science Tools |
| - |
| Jupyter Notebook |
| R-Studio         |
| Spyder |
| Pycharm |

### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
print(10299 + 3498)
print(233 * 462)
print(20/8)
print(569228 - 75920)

13797
107646
2.5
493308

In [24]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [30]:
# This will convert 200 minutes to hours by diving by 60
mins = 200
hrs = mins / 60
print(round(hrs))

3

## Author
Soumyadeep Das